<?php
/** @var \Linets\Zonification\Block\Checkout\Cities $block */
?>

<script>
    require(
        [
            'jquery'
        ],
        function($) {
            $eaCitiesJson = <?=  $block->citiesJson()?>;
        });
</script>
<script type="text/x-magento-init">
    {
        "*": {
            "Linets_Zonification/js/city-update": {}
        }
    }
</script>
